.font-awesome{
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
.dropdown{
  margin-top: -20px;
  width:130px;
}


.header{
  display: flex;
	flex-direction: row;
	align-items: center;
}
.header p{
  margin:0;
  text-align:right;
  padding-right:20px;
  font-size:24px;
}

body{
  margin:0;
    background-color:#F6F8F9;
    font-size:16px;
}
header{
  
  width:100%;
  background-color:black;
}
.row{
  display:flex;
}

.dropdown-position{
  position:absolute;
  top: -40px;
  left:-30px;
}

// devise

.devise_box{
  max-width:600px;
  margin: 100px auto;
  background-color:#Fff;    
  border: 1px solid #eaedef;
  padding:20px;
}
.devise_element{
  padding:5px;
  margin:0px 20px;
}

.form-label-required{
  border-radius: 5px;
  color:#fff;
  background-color:#ff0000;
  padding:2px;
  margin:5px;
}